.footer {
  background-color: var(--lightbg);
  max-width: 1024px;
  margin: 0 auto;
  padding: 1rem 2.2rem;

  &__footnote {
    &::after {
      content: '';
      display: block;
      border-bottom: 0.2px solid var(--light-gray);
      margin-top: 2rem;
    }

    &--text {
      color: var(--light-gray);
      font-size: 1.2rem;
      line-height: 16px;
    }

    &--link {
      color: var(--dark-gray);
    }
  }
}
