.header {
  position: sticky;
  top: 0;
}

.header-mobile {
  background-color: var(--nav-background);
  height: 48px;
  display: flex;
  justify-content: space-between;
  padding: 0.2rem 0 0.2rem 2rem;

  @include media('md') {
    display: none;
    visibility: hidden;
  }

  .mobile-nav {
    display: flex;

    &__toggle {
      display: flex;
      flex-direction: column;
      justify-content: center;
      cursor: pointer;

      &--icon {
        background-color: var(--darkbg-text);
        border-radius: 5px;
        height: 1px;
        width: 18px;
        margin-bottom: 0.5rem;
      }
    }

    &__container {
      display: none;
    }

    &__logo {
      cursor: pointer;

      &--shopping-bag {
        align-self: center;
        display: block;
        height: 45px;
        width: 50px;
      }
    }
  }
}

.header-desktop {
  @media (max-width: 767px) {
    display: none;
    visibility: hidden;
  }

  @include media('md') {
    background-color: var(--nav-background);
  }

  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 46px;
    margin: 0 auto;
    max-width: 992px;
    min-height: 40px;
    padding: 0 0 0 2rem;
  }

  .desktop-nav {
    width: 75%;

    &__list {
      display: flex;
      justify-content: space-between;
    }

    &__list-item {
      padding: 0 10px;

      &--link {
        color: var(--darkbg-text);
        font-size: 1.4rem;
        font-weight: 300;
      }
    }

    &__logo {
      cursor: pointer;

      &--apple {
        align-self: center;
      }

      &--search {
        fill: var(--darkbg-text);
        width: 18px;
      }

      &--shopping-bag {
        align-self: center;
        display: block;
        height: 45px;
        width: 50px;
      }
    }
  }
}
