.hero {
  text-align: center;
  margin: 0 auto;

  &__iphone-se {
    background-color: #131313;
    padding: 4rem 2rem 0 2rem;

    @include media('sm') {
      background-image: url('../../img/heroes/iphone-se/mediumtall.jpg');
      background-position: center 80px;
      background-repeat: no-repeat;
      background-size: contain;
      height: 500px;
      width: 100%;
    }

    @include media('lg') {
      background-image: url('../../img/heroes/iphone-se/largetall.jpg');
      background-position: center 100px;
      height: 650px;
      padding-top: 6rem;
    }

    @include media('xl') {
      background-position: center 60px;
    }
  }

  &__title {
    font-size: 3rem;
    margin-bottom: 0.5rem;

    &--darkbg {
      color: var(--darkbg-text);
    }

    &--lightbg {
      color: var(--lightbg-text);
    }

    &--iphone-11 {
      padding: 0 2rem;
    }

    @include media('sm') {
      font-size: 4rem;
      margin-bottom: 1rem;
    }

    @include media('lg') {
      font-size: 5rem;
    }
  }

  &__subtitle {
    font-weight: 400;
    margin-bottom: 0.5rem;

    &--darkbg {
      color: var(--darkbg-text);
    }

    &--lightbg {
      color: var(--lightbg-text);
    }

    &--iphone-11 {
      padding: 0 2rem;
    }

    @include media('sm') {
      font-size: 2.2rem;
      margin-bottom: 1rem;
    }

    @include media('lg') {
      font-size: 2.6rem;
    }
  }

  &__price {
    margin-bottom: 1.4rem;
    color: var(--light-gray);
    font-size: 1.4rem;

    &--iphone-11 {
      padding: 0 2rem;
    }

    @include media('sm') {
      font-size: 1.8rem;
      margin-bottom: 1.8rem;
    }
  }

  &__img {
    max-width: 100%;
    height: auto;

    &--iphone-se {
      @include media('sm') {
        display: none;
      }
    }

    &--iphone-11 {
      @include media('sm') {
        display: none;
      }
    }

    &--tvplus-logo {
      margin-bottom: 1.4rem;
    }
  }

  .cta-links {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    width: 200px;

    &__tv-plus {
      display: block;
      color: var(--lightbg-text);
      font-size: 1.8rem;
      margin-bottom: 2rem;
    }

    &__lightbg {
      margin-bottom: 4rem;
    }

    &__item {
      &--darkbg {
        color: var(--darkbg-blue);
      }

      &--lightbg {
        color: var(--lightbg-blue);
      }

      @include media('sm') {
        font-size: 1.8rem;
      }

      @include media('lg') {
        font-size: 2rem;
      }
    }
  }

  &__iphone-11 {
    background-color: var(--lightbg);
    padding: 4rem 0 0 0;

    @include media('sm') {
      background-image: url('../../img/heroes/iphone-11/mediumtall.jpg');
      background-position: center 100px;
      background-repeat: no-repeat;
      background-size: cover;
      height: 600px;
    }

    @include media('lg') {
      background-image: url('../../img/heroes/iphone-11/largetall.jpg');
      background-size: contain;
      background-position: center 250px;
      height: 500px;
    }

    @include media('xxl') {
      height: 600px;
    }
  }

  &__tv-plus {
    background-color: var(--lightbg);
    display: flex;
    flex-direction: column;
    padding: 4rem 2rem;

    @include media('xl') {
      padding-top: 6rem;
    }
  }
}
